@font-face {
  font-family: "Kaisei";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/KaiseiDecol-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Rampart";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/RampartOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MPLUSRounded1c";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/MPLUSRounded1c-Medium.ttf") format("truetype");
}
